.card-custom {
  cursor: pointer;
}

.card-custom:hover {
  opacity: 0.7;
  border: 1px solid green;
}
.car-btn {
  width: 100%;
}

.bid-value {
  font-weight: 700;
  color: green;
  font-size: 16px;
}
