body {
  margin: 0;
  background: url(./assets/background1.jpg);
  background-size: cover;
  font-family: "Trirong", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
